[Desktop Entry]
Name=Dimwit
Comment=System tray application for monitor brightness/contrast control
Exec=Dimwit %F
Icon=dimwit
Type=Application
Categories=Utility;Graphics;
